.logo-docplanner {
    width: 268px;
    height: 33px;
}
nav{
    float: right;
}
.riadh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    margin-top: 100px;
  }
  .monia{ color: aqua; text-align: center;
    font-size: 1.875em;
    margin: 0.7em 0;
  }
  .container{display: flex;margin: 0.8em 0;
    line-height: 1.75;
    font-weight: 400; }
    .col{
        background-color: aquamarine;
        margin: 0.3em 0;
    }
    .col1{background-color: blue ;
    padding: 1.375em 1.25em 0;
}
   .col2{font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #ff;
    background-color: red;
}
.parent{display: flex; margin: 10px;}
.maman{justify-items: flex-end; float: right; margin: 30px 800px;
padding: 0%;}
.fille{text-align: center;
font-size: small;
font-weight: 50%;}
.lin{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.h4{text-align: center;}
#rou{background-color: blue;
color: antiquewhite;}
.footer{text-align: center;
text-decoration: aqua;}
.papa{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color: aquamarine;
}
.mariem{color: aquamarine;}
.ayed{color: aquamarine;}